.about {
	text-align: center;
	background-color: #fff;
	&_content {
		&_title {
			font-size: 26px;
			color: #222222;
			text-transform: uppercase;
			// margin-bottom: 20px;
			line-height: 60px;
			// margin-top: 63px;
		}
		h6 {
			font-size: 16px;
			color: #666666;
			text-transform: uppercase;
			margin-bottom: 28px;
			font-style: italic;
		}
		&_info {
			>p {
				margin-bottom: 14px;
				font-size: 16px;
				line-height: 28px;
				color: #333333;
				&:last-child {
					margin-bottom: 51px;
				}
			}
		}
		&_btn {
			margin-bottom: 80px;
		}
	}
}
@media all and (max-width: 991px){
	.about {
		&_content {
			&_title {
				font-size: 22px;
				line-height: 50px;
				margin-bottom: 15px;
				// margin-top: 46px;
			}
			h6 {
				margin-bottom: 25px;
				font-size: 15px;
			}
			&_info {
				>p {
					margin-bottom: 15px;
					&:last-child {
						margin-bottom: 29px;
					}
					>br {
						display: none;
					}
				}
			}
			&_btn {
				margin-bottom: 60px;
			}
		}
	}
}

@media all and (max-width: 767px){
	.about {
		&_content {
			&_title {
				font-size: 18px;
				margin-bottom: 15px;
				line-height: 26px;
				// margin-top: 29px;
			}
			h6 {
				font-size: 14px;
				margin-bottom: 25px;
			}
			&_info {
				>p {
					margin-bottom: 15px;
					&:last-child {
						margin-bottom: 29px;
					}
					>br {
						display: none;
					}
				}
			}
			&_btn {
				margin-bottom: 40px;
			}
		}
	}
}